*.classpath
*.project
*.settings/
.idea/*
*.iml
.DS_Store

# Checkstyle-IDEA config
!.idea/checkstyle-idea.xml

# Build files
.gradle/
*/.gradle/
/jars/
out/
build/
target/
*/build/
*/target/
*.class
/build/
/target/
buildSrc/build/

# Run directory
/run/
